In [1]:
import sys
import json
from pathlib import Path
from dateutil import parser
from math import pi

import requests
from shapely.geometry import shape, Point
import geopandas as gpd
import pandas as pd
import numpy as np


DIR = Path('..')
sys.path.append(str(DIR))

import gtfstk as gt
import pyotp as otp
import arcgdfconvertor as agc
import gtfsanalyst as ga


DATA_DIR = DIR/'data/'
OUT_DIR = DIR/'output/'


%load_ext autoreload
%autoreload 2

In [22]:
# setting the analysis date and time
dt = parser.parse('11/Jan/2018 8:00:00 AM')
city = 'Vancouver'
od_points_path = str(DATA_DIR/'Raw_data.gdb'/'{0}_Hex_Point'.format(city))
feed_path = str(DATA_DIR/'gtfs feeds'/'{0}_GTFS.zip'.format(city))
od_csv_path = str(DATA_DIR/'OD results'/'{0}_detailed_od.csv'.format(city))

# OD matrix

In [23]:
#Read file
od = pd.read_csv(od_csv_path)
od = od.drop(od.columns.values[0], axis =1)
od.head()

,trip_name,leg_id,mode,from,from_name,to,to_name,route_id,trip_id,distance,duration,startTime,endTime,waitTime,geometry
0,from 1396 to 1384,0,WALK,POINT (-122.770926197 49.27512711800006),Origin,POINT (-122.775046 49.274163),1:3867,NaN,NaN,425.143000,329.0,1515686659000,1515686988000,1000.0,"LINESTRING (-12.277108 4.927512, -12.277109 4...."
1,from 1396 to 1384,1,BUS,POINT (-122.775046 49.274163),3867,POINT (-122.799011 49.274659),1:3195,1:32373,9280306.0,2447.870792,431.0,1515686989000,1515687420000,0.0,"LINESTRING (-12.277495 4.927413, -12.277507 4...."
2,from 1396 to 1384,2,WALK,POINT (-122.799011 49.274659),3195,POINT (-122.800656 49.274744),1:12234,NaN,NaN,420.911000,319.0,1515687420000,1515687739000,161000.0,"LINESTRING (-12.2799 4.927465, -12.279902 4.92..."
3,from 1396 to 1384,3,RAIL,POINT (-122.800656 49.274744),12234,POINT (-123.079049 49.265873),1:10375,1:32499,9302512.0,22280.696146,1980.0,1515687900000,1515689880000,0.0,"LINESTRING (-12.280063 4.927479, -12.28019 4.9..."
4,from 1396 to 1384,4,WALK,POINT (-123.079049 49.265873),10375,POINT (-123.079463 49.265482),1:10926,NaN,NaN,202.098000,154.0,1515689880000,1515690034000,326000.0,"LINESTRING (-12.307905 4.926587, -12.307843 4...."

In [24]:
od_matrix = od.copy()

# Calculate awt

In [25]:
# Load a feed
feed = gt.read_gtfs(feed_path, dist_units='km')

#load od points
in_gdf = agc.fc_to_gdf(od_points_path)
    
#calculate travel times
pt_edges = ga.pt_edges(
    ga.validate_feed(feed, '20180111'),
    max_cuf_off = 2 * 3600, 
    analysis_start = ga.text2sec('07:00:00'),
    analysis_end = ga.text2sec('09:00:00'), 
    convert_to_gpd = False)
pt_edges.head(2).T

od_matrix = od_matrix.merge(
    pt_edges[['trip_id', 'o_stop', 'awt']], 
    left_on = ['trip_id', 'from_name'],
    right_on = ['trip_id', 'o_stop'],
    how='left').drop('o_stop', axis = 1)

#convert durations into minutes
od_matrix['duration'] = od_matrix['duration']/60
od_matrix['waitTime'] = od_matrix['waitTime']/1000/60
od_matrix['awt'] = od_matrix['awt']/60

#make a summary table
od_summary = pd.pivot_table(
    od_matrix, 
    index=['trip_name'], 
    values=['duration', 'distance', 'waitTime', 'awt'],
    columns=['mode'], 
    aggfunc=[np.sum],
    fill_value=0).reset_index()
od_summary['from']= od_summary.trip_name.apply(lambda x: x.split()[1])
od_summary['to']= od_summary.trip_name.apply(lambda x: x.split()[3])
od_summary['invehicle_time']= (od_summary[('sum', 'duration', 'BUS')]+
                                od_summary[('sum', 'duration', 'FERRY')]+
                                od_summary[('sum', 'duration', 'RAIL')])

od_summary['walk_time']= (od_summary[('sum', 'duration', 'WALK')])

od_summary['waitTime']= (od_summary[('sum', 'waitTime', 'BUS')]+
                         od_summary[('sum', 'waitTime', 'FERRY')]+
                         od_summary[('sum', 'waitTime', 'RAIL')])

od_summary['awt']= (od_summary[('sum', 'awt', 'BUS')]+
                         od_summary[('sum', 'awt', 'FERRY')]+
                         od_summary[('sum', 'awt', 'RAIL')])

od_summary['travel_time']= (od_summary['walk_time']+
                            od_summary['invehicle_time']+
                            od_summary['waitTime'])


pow_df = in_gdf.copy()
pow_df.columns = pd.MultiIndex.from_product([['sum'], [''], pow_df.columns])
od_summary = od_summary.merge(
    pow_df[[('sum', '', 'Unique_ID'), ('sum', '', 'P_O_W')]], 
    left_on = ['to'],
    right_on = [('sum', '','Unique_ID')],
    how='left').drop(('sum', '','Unique_ID'), axis = 1)

od_summary.head()

              trip_name sum                                           \
                        awt                      distance
mode                    BUS FERRY RAIL WALK           BUS FERRY RAIL
0     from 1001 to 1002   0     0    0    0   4469.154894   0.0  0.0
1     from 1001 to 1003   0     0    0    0  32663.785500   0.0  0.0
2     from 1001 to 1004   0     0    0    0  15962.099872   0.0  0.0
3     from 1001 to 1006   0     0    0    0  25941.482705   0.0  0.0
4     from 1001 to 1007   0     0    0    0  24711.078410   0.0  0.0

                              ...                            from    to  \
                 duration     ...      waitTime
mode      WALK        BUS     ...          RAIL        WALK
0      635.468   6.366667     ...           0.0    0.016667  1001  1002
1      327.763  76.633333     ...           0.0    0.016667  1001  1003
2     1014.383  37.033333     ...           0.0  108.483333  1001  1004
3      702.926  53.633333     ...           0.0    0.016667  1001  1006
4     1228.988  47.416667     ...           0.0   65.050000  1001  1007

     invehicle_time  walk_time    waitTime awt travel_time          sum

mode                                                              P_O_W
0          6.366667   8.250000    0.016667   0   14.633333  4607.948958
1         76.633333   4.200000   75.233333   0  156.066667  3276.004753
2         37.033333  12.833333    0.016667   0   49.883333  1530.963181
3         53.633333   9.016667  143.750000   0  206.400000  2795.636396
4         47.416667  16.033333    0.016667   0   63.466667  1854.797740

[5 rows x 25 columns]

In [26]:
od_summary.head(2).T

                                               0                  1
                        mode
trip_name                      from 1001 to 1002  from 1001 to 1003
sum            awt      BUS                    0                  0
                        FERRY                  0                  0
                        RAIL                   0                  0
                        WALK                   0                  0
               distance BUS              4469.15            32663.8
                        FERRY                  0                  0
                        RAIL                   0                  0
                        WALK             635.468            327.763
               duration BUS              6.36667            76.6333
                        FERRY                  0                  0
                        RAIL                   0                  0
                        WALK                8.25                4.2
               waitTime BUS            0.0166667            75.2333
                        FERRY                  0                  0
                        RAIL                   0                  0
                        WALK           0.0166667          0.0166667
from                                        1001               1001
to                                          1002               1003
invehicle_time                           6.36667            76.6333
walk_time                                   8.25                4.2
waitTime                               0.0166667            75.2333
awt                                            0                  0
travel_time                              14.6333            156.067
sum                     P_O_W            4607.95               3276

In [27]:
for i in range(5, 65, 5):
    f_name = 'dist_decay_{0}'.format(i)
    od_summary[f_name] = od_summary['travel_time'].apply(lambda x: 1/(1+math.exp(0.2*(x-i))) )*od_summary[('sum', '', 'P_O_W')]

od_summary.head().T

                                               0                  1  \
                        mode
trip_name                      from 1001 to 1002  from 1001 to 1003
sum            awt      BUS                    0                  0
                        FERRY                  0                  0
                        RAIL                   0                  0
                        WALK                   0                  0
               distance BUS              4469.15            32663.8
                        FERRY                  0                  0
                        RAIL                   0                  0
                        WALK             635.468            327.763
               duration BUS              6.36667            76.6333
                        FERRY                  0                  0
                        RAIL                   0                  0
                        WALK                8.25                4.2
               waitTime BUS            0.0166667            75.2333
                        FERRY                  0                  0
                        RAIL                   0                  0
                        WALK           0.0166667          0.0166667
from                                        1001               1001
to                                          1002               1003
invehicle_time                           6.36667            76.6333
walk_time                                   8.25                4.2
waitTime                               0.0166667            75.2333
awt                                            0                  0
travel_time                              14.6333            156.067
sum                     P_O_W            4607.95               3276
dist_decay_5                             585.762        2.47663e-10
dist_decay_10                            1306.82        6.73217e-10
dist_decay_15                            2388.42        1.82999e-09
dist_decay_20                            3433.98        4.97444e-09
dist_decay_25                            4093.17        1.35219e-08
dist_decay_30                            4404.18        3.67564e-08
dist_decay_35                            4530.83        9.99143e-08
dist_decay_40                            4579.28        2.71595e-07
dist_decay_45                            4597.36        7.38272e-07
dist_decay_50                            4604.05        2.00683e-06
dist_decay_55                            4606.51        5.45513e-06
dist_decay_60                            4607.42        1.48286e-05

                                               2                  3  \
                        mode
trip_name                      from 1001 to 1004  from 1001 to 1006
sum            awt      BUS                    0                  0
                        FERRY                  0                  0
                        RAIL                   0                  0
                        WALK                   0                  0
               distance BUS              15962.1            25941.5
                        FERRY                  0                  0
                        RAIL                   0                  0
                        WALK             1014.38            702.926
               duration BUS              37.0333            53.6333
                        FERRY                  0                  0
                        RAIL                   0                  0
                        WALK             12.8333            9.01667
               waitTime BUS            0.0166667             143.75
                        FERRY                  0                  0
                        RAIL                   0                  0
                        WALK             108.483          0.0166667
from                                        1001               1001
to                                          1004               1006
invehicle_time                           37.0333            53.6333
walk_time                                12.8333            9.01667
waitTime                               0.0166667             143.75
awt                                            0                  0
travel_time                              49.8833              206.4
sum                     P_O_W            1530.96            2795.64
dist_decay_5                            0.193372        8.97633e-15
dist_decay_10                           0.525525        2.44002e-14
dist_decay_15                            1.42768        6.63266e-14
dist_decay_20                            3.87464        1.80294e-13
dist_decay_25                            10.4867        4.90091e-13
dist_decay_30                            28.1743        1.33221e-12
dist_decay_35                            74.2382        3.62131e-12
dist_decay_40                            186.279        9.84374e-12
dist_decay_45                            418.801        2.67581e-11
dist_decay_50                            774.412         7.2736e-11
dist_decay_55                            1126.21        1.97717e-10
dist_decay_60                            1352.19         5.3745e-10

                                               4
                        mode
trip_name                      from 1001 to 1007
sum            awt      BUS                    0
                        FERRY                  0
                        RAIL                   0
                        WALK                   0
               distance BUS              24711.1
                        FERRY                  0
                        RAIL                   0
                        WALK             1228.99
               duration BUS              47.4167
                        FERRY                  0
                        RAIL                   0
                        WALK             16.0333
               waitTime BUS            0.0166667
                        FERRY                  0
                        RAIL                   0
                        WALK               65.05
from                                        1001
to                                          1007
invehicle_time                           47.4167
walk_time                                16.0333
waitTime                               0.0166667
awt                                            0
travel_time                              63.4667
sum                     P_O_W             1854.8
dist_decay_5                           0.0154861
dist_decay_10                          0.0420951
dist_decay_15                           0.114422
dist_decay_20                           0.310998
dist_decay_25                           0.845136
dist_decay_30                            2.29552
dist_decay_35                            6.22663
dist_decay_40                            16.8287
dist_decay_45                            45.0428
dist_decay_50                            117.535
dist_decay_55                            288.121
dist_decay_60                            618.189

In [28]:
f_names = dict()
for i in range(5, 65, 5):
    f_names['dist_decay_{0}'.format(i)] = 'sum'
    
Hex_dist_decay_summary = od_summary.groupby('from', as_index=False).agg(f_names)
Hex_dist_decay_summary.head()

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\pandas\core\groupby.py:4291: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

,from,dist_decay_5,dist_decay_10,dist_decay_15,dist_decay_20,dist_decay_25,dist_decay_30,dist_decay_35,dist_decay_40,dist_decay_45,dist_decay_50,dist_decay_55,dist_decay_60
0,1001,2493.001641,6305.276656,14912.227927,32541.842758,64943.309285,115078.471948,176035.927506,235613.663946,287804.599623,334837.879684,380540.089688,423558.171142
1,1002,4709.543747,11401.998281,25673.501320,52862.410833,98239.921699,162144.267187,234590.592468,303289.221552,364739.105864,422170.926808,480533.758416,540987.969984
2,1003,3153.269391,8110.413074,19555.297491,42855.025084,84295.916551,147102.001370,223761.406416,299745.710562,367394.934642,427425.521869,484990.282574,543216.312267
3,1004,496.374653,1277.962098,3095.686250,6900.359513,14145.490259,26808.608241,47597.982652,81018.984702,133367.837168,208857.595138,302301.489777,400323.797203
4,1006,955.719613,2124.564882,4151.434028,7411.795217,12929.060628,22765.004869,39674.588322,66963.055537,110503.251777,177450.462683,266073.883716,362755.128257

In [29]:
Hex_dist_decay_summary.to_csv(str(OUT_DIR/'{0}_CRL_Hex_dist_decay_summary.csv'.format(city)))